USE [master]
GO
/****** Object:  Database [ShopDb]    Script Date: 2017-06-19 12:32:02 ******/
CREATE DATABASE [ShopDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ShopDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\ShopDb.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ShopDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\ShopDb_log.ldf' , SIZE = 1088KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ShopDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ShopDb]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 2017-06-19 12:32:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Books]    Script Date: 2017-06-19 12:32:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Books](
	[BookId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](75) NULL,
	[Author] [nvarchar](75) NULL,
	[Publisher] [nvarchar](75) NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[ReleaseDate] [datetime] NOT NULL,
	[SuperBargain] [bit] NOT NULL,
	[Type] [smallint] NOT NULL DEFAULT ((0)),
 CONSTRAINT [PK_dbo.Books] PRIMARY KEY CLUSTERED 
(
	[BookId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Carriers]    Script Date: 2017-06-19 12:32:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carriers](
	[CarrierId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Carriers] PRIMARY KEY CLUSTERED 
(
	[CarrierId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Covers]    Script Date: 2017-06-19 12:32:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Covers](
	[CoverId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Covers] PRIMARY KEY CLUSTERED 
(
	[CoverId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Editions]    Script Date: 2017-06-19 12:32:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Editions](
	[EditionId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Editions] PRIMARY KEY CLUSTERED 
(
	[EditionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Publishers]    Script Date: 2017-06-19 12:32:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Publishers](
	[PublisherId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Publishers] PRIMARY KEY CLUSTERED 
(
	[PublisherId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Books] ON 

INSERT [dbo].[Books] ([BookId], [Name], [Author], [Publisher], [Price], [ReleaseDate], [SuperBargain], [Type]) VALUES (1, N'Nnisl aenean', N'Hana Springtorpe', N'Bare Escentuals Beauty Inc.', CAST(18.73 AS Decimal(18, 2)), CAST(N'2016-12-13 00:00:00.000' AS DateTime), 0, 2)
INSERT [dbo].[Books] ([BookId], [Name], [Author], [Publisher], [Price], [ReleaseDate], [SuperBargain], [Type]) VALUES (2, N'Llectus', N'Ignacius Davson', N'Greenbrier International, Inc.', CAST(9.43 AS Decimal(18, 2)), CAST(N'2016-08-07 00:00:00.000' AS DateTime), 0, 2)
INSERT [dbo].[Books] ([BookId], [Name], [Author], [Publisher], [Price], [ReleaseDate], [SuperBargain], [Type]) VALUES (3, N'Nnascetur ridiculus mus etiam vel', N'Norton Tue', N'Nelco Laboratories, Inc.', CAST(23.47 AS Decimal(18, 2)), CAST(N'2017-07-12 00:00:00.000' AS DateTime), 0, 2)
GO
SET IDENTITY_INSERT [dbo].[Books] OFF
SET IDENTITY_INSERT [dbo].[Carriers] ON 

INSERT [dbo].[Carriers] ([CarrierId], [Name]) VALUES (1, N'Płyta CD')
INSERT [dbo].[Carriers] ([CarrierId], [Name]) VALUES (2, N'Płyta DVD')
INSERT [dbo].[Carriers] ([CarrierId], [Name]) VALUES (3, N'Pamięć Flash')
SET IDENTITY_INSERT [dbo].[Carriers] OFF
SET IDENTITY_INSERT [dbo].[Covers] ON 

INSERT [dbo].[Covers] ([CoverId], [Name]) VALUES (1, N'Okładka 1')
INSERT [dbo].[Covers] ([CoverId], [Name]) VALUES (2, N'Okładka 2')
INSERT [dbo].[Covers] ([CoverId], [Name]) VALUES (3, N'Okładka 3')
SET IDENTITY_INSERT [dbo].[Covers] OFF
SET IDENTITY_INSERT [dbo].[Editions] ON 

INSERT [dbo].[Editions] ([EditionId], [Name]) VALUES (1, N'2003')
INSERT [dbo].[Editions] ([EditionId], [Name]) VALUES (2, N'2006')
INSERT [dbo].[Editions] ([EditionId], [Name]) VALUES (3, N'2009')
SET IDENTITY_INSERT [dbo].[Editions] OFF
SET IDENTITY_INSERT [dbo].[Publishers] ON 

INSERT [dbo].[Publishers] ([PublisherId], [Name]) VALUES (1, N'Studio A')
INSERT [dbo].[Publishers] ([PublisherId], [Name]) VALUES (2, N'Studio B')
INSERT [dbo].[Publishers] ([PublisherId], [Name]) VALUES (3, N'Studio C')
SET IDENTITY_INSERT [dbo].[Publishers] OFF
USE [master]
GO
